{% extends 'base.html' %}
{% block body %}
<div class="container">
    <div class="row">
         {% for i in movielist %}
    <div class="col mb-3">
 <div class="card" style="width: 18rem;">
  <img class="card-img" src="{{i.img.url}}" alt="Card image cap" height="250">
  <div class="card-body">
    <h5 class="card-title">{{i.name}}</h5>
    <p class="card-text">{{i.year}}</p>
    <a href="{% url 'movieapp:detail' i.id %}" class="btn btn-primary">more</a>
  </div>
</div>
  </div>
        {% endfor %}
</div>
    </div>

    </div>
</div>





     {% endblock %}